<h2>User info:</h2>
<%= @user.username %>
<br>

<h2>User events:</h2>
<div class="user-past-events">
  <h3>Past events</h3>
  <% @past_user_events.each do |event| %>
    <div class="event-info">
      <p>Title: <%= link_to event.title, event_path(event.id) %></p>
      <p>Date: <%= event.event_date %></p>
      <p>Description: <%= event.description %></p>
      <% if event.attendees.empty? %>
        <p>No attendees</p>
      <% else%>
        <strong>Attendees:</strong>
        <ul>
        <% event.attendees.each do |attendee| %>
            <li><%= link_to attendee.username, user_path(attendee.id) %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
<div class="user-upcoming-events">
  <h3>Upcoming events</h3>
  <% @upcoming_user_events.each do |event| %>
    <div class="event-info">
      <p>Title: <%= link_to event.title, event_path(event.id) %></p>
      <p>Date: <%= event.event_date %></p>
      <p>Description: <%= event.description %></p>
      <% if event.attendees.empty? %>
        <p>No attendees</p>
      <% else%>
        <strong>Attendees:</strong>
        <ul>
        <% event.attendees.each do |attendee| %>
            <li><%= link_to attendee.username, user_path(attendee.id) %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>


<h2>User attendence</h2>
<div class="prev-events">
  <h3>Past events:</h3>
  <% if @past_events.empty? %>
    <p>No upcoming events attending</p>
  <% else%>
    <div class="user-event-info">
      <% @past_events.each do |event| %>
        <p><%= event.title %></p>
        <p><%= event.event_date %></p>
        <p><%= event.description %></p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="upcoming-events">
  <h3>Upcoming events:</h3>
  <% if @upcoming_events.empty? %>
    <p>No previous events attending</p>
  <% else%>
    <% @upcoming_events.each do |event| %>
      <div class="user-event-info">
        <p><%= link_to event.title, event_path(event.id) %></p>
        <p><%= event.event_date %></p>
        <p><%= event.description %></p>
      <div>
    <% end %>
  <% end %>
</div>

