<h1 class="main-title">Events list</h1>
<main>
  <div class="left-side">
    <h2>Past events</h2>
    <% @past_events.each do |event| %>
      <p>
        <%= link_to event.title, event_path(event.id) %>
        by <%= link_to event.creator.username, user_path(event.creator.id) %>
        
      </p>
    <% end %>
  </div>

  <div class="right-side">
    <h2>Upcoming events</h2>
    <% @upcoming_events.each do |event| %>
      <p>
        <%= link_to event.title, event_path(event.id) %>
        by <%= link_to event.creator.username, user_path(event.creator.id) %>
        <% if going?(event.id) %>
          <span>You are going</span>
        <% else %>
          <%= link_to 'Attend', attendence_path(event.id), method: :post %>
        <% end %>
      </p>
    <% end %>
  </div>
</main>